NEXT_PUBLIC_API_BASE_URL=

NEXT_PUBLIC_TURNSTILE_SITEKEY=

NEXT_PUBLIC_TURNSTILE_ACTIVE=

# PostHog Analytics (optional)
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Instana Website Monitoring (EUM) (optional)
NEXT_PUBLIC_INSTANA_REPORTING_URL=
NEXT_PUBLIC_INSTANA_KEY=
NEXT_PUBLIC_INSTANA_EUM_SRC=
NEXT_PUBLIC_INSTANA_EUM_INTEGRITY=